
@{
    ViewData["Title"] = "Product";
}
@model IEnumerable<Catalog>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Description</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var catalog in Model)
        {
            <tr>
                <td>@(Model.ToList().IndexOf(catalog) + 1)</td>
                <td>@catalog.Description</td>
                <td>@catalog.Category</td>
                <td>@catalog.Price</td>
            </tr>
        }
        </tbody>
    </table>
</div>
